.home {
  .home_banner {
    min-height: 100vh;
    background-image: url("../../public/assets/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display";
    font-style: normal;
    .home_information {
      display: flex;
      flex-direction: column;
      align-items: center;
      .home_information_title {
        max-width: 90%;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #07484a;
      }
      .home_information_description {
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 25px;
        color: #07484a;
        margin-top: 30px;
      }
      .home_information_button {
        width: 182px;
        height: 64px;
        background: #70908b;
        border-radius: 10px;
        border: none;
        margin-top: 50px;
        transition: 0.5s;
        cursor: pointer;
        //typography
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #fdfbf8;
        &:hover {
          transform: translateY(-10px);
        }
      }
    }
  }
}

@media screen and (min-width: 385px) {
  .home {
    .home_banner {
      .home_information {
        .home_information_title {
          width: 382px;
        }
        .home_information_description {
          width: 278px;
        }
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .home {
    .home_banner {
      align-items: flex-start;
      justify-content: flex-start;
      .home_information {
        margin-left: 44px;
        margin-top: 100px;
        text-align: left;
        align-items: flex-start;
        .home_information_title {
          width: 588px;
          height: 123px;
          font-size: 48px;
          line-height: 64px;
        }
        .home_information_description {
          width: 539px;
          height: 33.06px;
          font-weight: 400;
          font-size: 27px;
          line-height: 33px;
          margin-top: 25px;
        }
        .home_information_button {
          font-size: 24px;
          margin-bottom: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .home {
    .home_banner {
      align-items: flex-start;
      .home_information {
        margin-left: 120px;
        margin-top: 97px;
        .home_information_title {
          width: 668px;
          height: 171px;
          font-size: 64px;
          line-height: 85px;
        }
        .home_information_description {
          width: 750px;
          font-size: 32px;
        }
      }
    }
  }
}
